{
  "plugins": [
    "prettier-plugin-tailwindcss-canonical-classes",
    "prettier-plugin-tailwindcss"
  ],
  "tailwindcssCanonicalStylesheet": "./app/globals.css",
  "semi": false,
  "singleQuote": true
}
